.container {
  background-color: rgb(245, 245, 245);
  padding: 7px;
  margin-top: 20px;
  border-radius: 10px;
  
  .card {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: none;
    color: rgb(84, 84, 84);

    .col-md-6 {
      padding: 5px;
    }

    .col-md-12 {
      padding: 5px;
      input {
        width: 46.7%;
      }
      svg {
        width: 15px;
      }
    }
  }
}